%section.middle.container
  = render partial: "shared/breadcrumb", locals: {breadcrumb:  { "http://localhost:3000/" => "Главная", "http://localhost:3000/users/sign_up" => "Регистрация" }}
  .registration.col-lg-8.col-md-6.col-sm-8.col-xs-12.col-lg-offset-2.col-md-offset-3.col-sm-offset-2
    = form_for(resource, as: resource_name, url: registration_path(resource_name),html: {class: "form-horizontal",role: 'form', multipart: true}) do |f|
      = devise_error_messages!
      .form-group
        = f.label :login, class: 'col-sm-2 control-label', for: 'login'
        .col-sm-10
          = f.text_field :login, autocomplete: "off",class: 'form-control', id: 'login', type: 'text' , placeholder: 'Логин'
      .form-group
        = f.label :fio, class: 'col-sm-2 control-label', for: 'fio'
        .col-sm-10
          = f.text_field :fio, autocomplete: "off",class: 'form-control', id: 'date', type: 'text' , placeholder: 'Ф.И.О'
      .form-group
        = f.label :birthday, class: 'col-sm-2 control-label', for: 'birthday'
        .col-sm-10
          = f.date_field :birthday, autocomplete: "off", class: 'form-control', id: 'birthday', type: 'date'
      .form-group
        = f.label :country, class: 'col-sm-2 control-label', for: 'country'
        .col-sm-10
          %input{ class: 'form-control', id: 'country', type: 'text', placeholder: 'Cтрана'}
      .form-group{id: "city-field"}
        = f.label :city, class: 'col-sm-2 control-label', for: 'city'
        .col-sm-10
          %input{ class: 'form-control', id: 'city', type: 'text', placeholder: 'Город'}
          = f.hidden_field :city_id, id: 'hidden_city_id'
      .form-group
        = f.label :email, class: 'col-sm-2 control-label', for: 'inputEmail'
        .col-sm-10
          = f.email_field :email, autofocus: true,class: 'form-control', type: 'email', id: 'inputEmail', placeholder: 'example@gmail.com'
      .form-group
        = f.label :avatar, class: 'col-sm-2 control-label', for: 'avatar'
        .col-sm-10
          = f.file_field :avatar, class: 'filestyle', id: 'avatar'
          = f.hidden_field :avatar_cache
      .form-group
        = f.label :password, class: 'col-sm-2 control-label', for: 'inputPassword'
        .col-sm-10
          - if @validatable
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "off",class: 'form-control', id: 'inputPassword', type: 'password' , placeholder: t("activerecord.attributes.user.password")
      .form-group
        = f.label :password_confirmation, class: 'col-sm-2 control-label', for: 'inputPassword'
        %br/
        .col-sm-10
          = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', id: 'inputPassword', type: 'password',placeholder: t("activerecord.attributes.user.password_confirmation")
      .form-group
        .reg-btn.col-sm-offset-2.col-sm-10
          = f.submit t("buttons.registration"), class: 'btn btn-info'

