.comment.clearfix{ id: "comment_id_#{comment.id}" }
  %p.comment-author.pull-left
    = comment.user.login
    %span :
  %p.comment-text= comment.text
  - if can? :update, comment
    = link_to('Редактировать', edit_comment_path(comment), class: 'pull-right', remote: true)
  - if can? :destroy, comment
    = link_to('Удалить', comment, class: 'delete-comment pull-right', method: :delete, remote: true)
