.comment.clearfix{ id: "comment_id_#{comment.id}" }
  = image_tag comment.user.avatar_url, class: 'pull-left'
  %p.comment-author
    = comment.user.login
    %span :
    - if can? :destroy, comment
      = link_to('', comment, class: 'delete-comment pull-right', method: :delete, remote: true)
    - if can? :update, comment
      = link_to('', edit_comment_path(comment), class: 'edit-comment pull-right', remote: true)
  %p.comment-text= comment.text

