= form_for advert, html: {class: "form-horizontal",role: 'form' } do |f|
  = advert_error_messages!
  .form-group
    = f.label :title, class: 'col-sm-2 control-label', for: 'title'
    .col-sm-10
      = f.text_field :title, autocomplete: "off",class: 'form-control', id: 'title', type: 'text' , placeholder: 'Title'
  .form-group
    = f.label :text, class: 'col-sm-2 control-label', for: 'text'
    .col-sm-10
      = f.text_area :text, autocomplete: "off",class: 'form-control', id: 'text', type: 'text' , placeholder: 'Text'
  .form-group
    .reg-btn.col-sm-offset-2.col-sm-10
      = f.submit btn_name, class: 'btn btn-info'