%section.middle.container
  = render partial: "shared/breadcrumb", locals: {breadcrumb:  { "http://localhost:3000/" => "Главная", "http://localhost:3000/profile" => "Профиль" }}
  %h2.text-center= t('.profile')
  .profile.col-lg-6.col-md-6.col-sm-6.col-xs-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-3
    - if user_signed_in?
      .update
      %p
        = t("activerecord.attributes.user.login")
        %span
          = current_user.login
      %p
        = t("activerecord.attributes.user.fio")
        %span
          = current_user.fio
      %p
        = t("activerecord.attributes.user.email")
        %span
          = current_user.email
      %p
        = t("activerecord.attributes.user.birthday")
        %span
          = current_user.birthday
      %p
        = t("activerecord.models.city.one")
        %span
          = current_user.city
  .myAdverts
    %h2= t('.my_adverts')
    - current_user.adverts.map do |advert|
      = link_to( advert.title, advert_path(advert))