%section.middle.container
  %h2.text-center Пользователи
  .col-lg-8.col-md-6.col-sm-8.col-xs-12.col-lg-offset-2.col-md-offset-3.col-sm-offset-2
    %table.table.table-bordered.users
      %tr
        %th Логин
        %th Роль
        %th Изменить роль
        %th Удалить аккаунт
      - @users.each do |user|
        %tr
          %td
            = link_to( user.login, user_profile_path(user))
          %td
            %span= user.role.name
          %td
            = form_for( user, url: admin_user_path(user.id) , method: :put ) do |f|
              .select-form
                = f.select :role_id, @roles.map{ |role| [role.name, role.id] }, {}, { selected: user.role.id, autofocus: 'true', class: 'form-control  input-sm' }
              = f.submit "Изменить роль", class: 'btn btn-sm btn-success'
          %td
            = link_to 'Удалить', edit_user_registration_path(user), data: { confirm: 'Вы уверены?' }, method: :delete ,class: "btn btn-sm btn-danger" # TODO Удаление пользовтеля сделать нужно